<!DOCTYPE html>

<html lang="pt-BR">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>X OPXpert - Cadastro</title>

<link href="/css/cadastro.css" rel="stylesheet"/><script defer src="/js/cadastro.js"></script></head>
<body>
<div class="cadastro-container">
<!-- Lado esquerdo -->
<div class="cadastro-form">
<h2>Solicitar Acesso!</h2>
<label for="nome">Nome completo:</label>
<input id="nome" placeholder="Digite seu nome" required="" type="text"/>
<label for="email">E-mail corporativo:</label>
<input id="email" placeholder="Digite seu e-mail" required="" type="email"/>
<label for="usuario">Usuário:</label>
<input id="usuario" placeholder="Escolha um usuário" required="" type="text"/>
<label for="cpf">CPF:</label>
<input id="cpf" placeholder="Digite seu CPF" required="" type="text"/>
<label for="telefone">Telefone:</label>
<input id="telefone" placeholder="(99) 99999-9999" required="" type="tel"/>
<label for="departamento">Departamento:</label>
<select id="departamento" required="">
<option value="">Selecione</option>
<option>TI</option>
<option>RH</option>
<option>Financeiro</option>
<option>Vendas</option>
<option>Marketing</option>
</select>
<label for="cargo">Cargo / Função:</label>
<input id="cargo" placeholder="Digite seu cargo" required="" type="text"/>
<label for="matricula">Matrícula:</label>
<input id="matricula" placeholder="Número de matrícula" required="" type="text"/>
<label for="admissao">Data de admissão:</label>
<input id="admissao" required="" type="date"/>
<label for="gerente">Coordenador responsável:</label>
<input id="gerente" placeholder="Nome do Coordenador" type="text"/>
<label for="senha">Senha:</label>
<input id="senha" placeholder="Digite sua senha" required="" type="password"/>
<label for="confirmaSenha">Confirmar senha:</label>
<input id="confirmaSenha" placeholder="Confirme sua senha" required="" type="password"/>
<button class="btn-cadastrar" onclick="validarCadastro()">Solicitar Acesso</button>
<a class="extra-link" href="/login">Já tem um acesso? Faça login</a>
</div>
<!-- Lado direito -->
<div class="cadastro-image"></div>
</div>

</body>
</html>
