<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>X OPXpert - Login</title>

    <link href="/css/login.css" rel="stylesheet" />
    <!-- Carrega o script externo -->
    <script defer src="/js/login.js"></script>
  </head>
  <body>
    <div class="login-container">
      <div class="login-form">
        <h2>Faça seu login!</h2>
        <label for="usuario">Usuário:</label>
        <input id="usuario" placeholder="Usuário" type="text" />
        <label for="senha">Senha:</label>
        <input id="senha" placeholder="Senha" type="password" />
        <a href="#">Esqueci minha senha</a>
        <!-- Remove o onclick, agora o JS externo captura o clique -->
        <button class="btn-login">Login</button>
        <a class="btn-cadastro" href="/cadastro"
          >Precisa de acesso? Solicitar credenciais</a
        >
      </div>
      <div class="login-image"></div>
    </div>
  </body>
</html>
